.app {
	&__wrapper {
		width: 280px;
		padding-top: 460px;
		margin: 0 auto;
		position: relative;
	}
	&__wrapper::after {
		position: absolute;
		content: "";
    background-image: url("../img/iphone-hand-mobile.png");
    background-repeat: no-repeat;
    background-size: 258px auto;
    width: 258px;
    height: 286px;
    top: 110px;
    left: 20px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    	background-image: url("../img/iphone-hand-mobile@2x.png");
    	background-size: 516px 572px;
    }
	}
	&__slogan {
		display: none;
	}
  &__app-button-content {
  	box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    padding: 4.33% 14%;
    padding-bottom: 20px;
    text-decoration: none;
    border: 3px solid @white;
    border-radius: 30px;
    font-size: 17px;
    line-height: 18px;
    color: @white;
    font-weight: 700;
  }
  &__down-box {
  	margin-top: 45px;
  }
  &__promo {
  	padding-top: 26px;
  }
  &__android,
  &__itunes,
  &__win {
    display: inline-block;
    vertical-align: middle;
  }
  &__itunes {
    margin-top: 32px;
    margin-left: 37px;
  }
  &__itunes-icon {
  	width: 48px;
  	height: 45px;
  	fill: @blue;
  }
  &__android,
  &__win {
    margin-top: 40px;
  }
  &__android {
    margin-left: 35px;
    margin-right: 35px;
  }
  &__promo {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .app__wrapper {
  padding-top: 0;
  width: 620px;
  height: 620px;
  }
  .app__wrapper::after {
  	position: absolute;
		content: "";
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 700px 545px;
    width: 700px;
    height: 545px;
    top: 75px;
    left: -25px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    	background-image: url("../img/iphone-hand-tablet@2x.png");
    	background-size: 536px 962px;
    }
  }
  .app {
    width: 300px;
  }
  .app__box {
  	padding-top: 300px;
  }
  .app__promo {
  font-size: 18px;
  line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
	.app__wrapper {
		width: 940px;
		margin: 0 auto;
	}
	.app {
		padding-top: 75px;
	}
	.app__slogan {
		display: inline-block;
		font-size: 50px;
		line-height: 60px;
		font-weight: lighter;
		text-align: center;
	}
	.app__box {
		padding-top: 0;
	}
	.app__wrapper::after {
  	position: absolute;
		content: "";
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 1050px 645px;
    width: 1050px;
    height: 645px;
    top: 98px;
    left: 28px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    	background-image: url("../img/iphone-hand-desktop@2x.png");
    	background-size: 2100px 1290px;
    }
  }
}