body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  color: @blue;
  font-style: normal;
  font-weight: 400;
  background-color: @white;
}
