.form {
	display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 45px;
  padding-bottom: 15px;
  &__text {
    font-size: 14px;
    line-height: 30px;
    width: 280px;
    text-align: center;
    font-weight: lighter;
  }
  &__personal-data {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__feedback {
    padding: 28px 0 30px;
    border: 1px solid @border-fieldset;
    order: 2;
  }
  &__list {
    list-style: none;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  &__label {
    display: block;
    margin-bottom: 5px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 30px;
    font-weight: lighter;
    color: @red;
    text-transform: uppercase;
  }
  &__input {
    width: 100%;
    margin-bottom: 16px;
    padding-top: 14px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 14px;
    border: 2px solid @border-fieldset;
    font-size: 18px;
    line-height: 30px;
  }
  &__input:hover {
  	border: 2px solid @blue;
  }
  &__required {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
}


@media (min-width: @tablet-width) {
  .form {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
		width: 620px;
  }
  .form__text {
  	width: 490px;
  	margin: 0 auto;
    font-size: 18px;
  }
  .form__personal-data {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .form__list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 52px;
  }
  .form__label {
  	display: block;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 22px;
    color: @red;
  }
  .form__input {
    width: auto;
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 22px 15px;
  }
  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 620px;
    height: 64px;
    min-height: 62px;
  }
  .form__submit-button {
    width: 300px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: @desktop-width) {
  .form {
  	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
    width: 940px;
  }
  .form__text {
    width: 940px;
    margin: 0 auto;
    order: 0;
    width: 745px;
    margin: 0 auto;
    margin-bottom: 43px;
  }
  .form__personal-data {
    width: 50%;
    margin: 0;
    padding-top: 20px;
    padding-right: 35px;
  }
  .form__feedback {
    width: 100%;
  }
  .form__submit {
    order: 4;
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
