.main-nav {
  &__item {
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  list-style: none;
}
  &__link {
  text-decoration: none;
  color: #ffffff;
}
}

.form {
  padding-top: 45px;
  padding-bottom: 15px;
  &__text{
    font-size: 14px;
    line-height: 30px;
    color: @blue;
    text-align: center;
    font-weight: lighter;
  }
  &__name {
    display: block;
    margin-bottom: 5px;
    padding-left: 23px;
    color: @red;
    text-transform: uppercase;
  }
  &__user-family,
  &__user-name,
  &__user-secondname,
   {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: @red;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-left: 23px;
  }
  &__input {
    font-size: 18px;
    line-height: 30px;
    color: @blue;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 14px 22px 15px;
    margin-bottom: 16px;
  }
  &__required {
    font-size: 14px;
    line-height: 30px;
    color: @blue;
  }
  &__star {
    color: @red;
  }
  &__submit {
    text-align: center;
  }
  &__submit-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: @white;
    width: 280px;
    height: 60px;
    background-color: @form-button;
  }
}

.user-progress {
  &__headline {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @red;
    text-transform: uppercase;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__label {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }
  &__field:first-child {
    padding-top: 12px;
  }
  &__field {
    padding-top: 43px;
  }
  &__input + &__label{
    position: relative;
    display: block;
    padding-left: 50px;
  }
  &__input {
    display: none;
  }
  &__input:checked + &__label::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
  }
}

.user-adress {
  padding-bottom: 39px;
  &__label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: @red;
    display: block;
    margin-bottom: 5px;
    padding-left: 23px;
  }
  &__input {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 14px 22px 15px;
    margin-bottom: 16px;
  }
}

.user-app {
  width: 280px;
  margin: 0 auto;
  padding: 28px 0 30px;
  box-sizing: border-box;
  &__radio {
    position: relative;
    display: none;
    padding: 0;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding-left: 45px;
  }
  &__radio + &__label::before, &__radio:checked + &__label::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    top: -3px;
    left: 0;
    background-image: url(../img/icon-map-marker.svg);
    background-repeat: no-repeat;
  }
}
.user-message {
  &__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: @red;
  }
  &__area {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 21px;
    padding-top: 15px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }
}

.social {
  font-size: 0;
  display: inline-block;
  .btn-tw {
    width: 18px;
    height: 15px;
    background-image: url("../img/icon-twitter.svg");
  }
  .btn-fb {
    width: 9px;
    height: 19px;
    background-image: url("../img/icon-facebook.svg");
  }
  .btn-you {
    width: 15px;
    height: 14px;
    background-image: url("../img/icon-youtube.svg");
  }
}

.page-footer {
  &__dev {
    font-size: 14px;
    line-height: 18px;
    color: @blue;
  }
}
