.intro {
  width: 170px;
  margin: 0 auto;
  margin-top: 42px;
  &__header {
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    color: @white;
    text-align: center;
  }
}
@media (min-width: @tablet-width) {
  .intro {
    width: 355px;
    margin-top: 77px;
  }
  .intro__header {
    font-size: 50px;
    line-height: 60px;
    font-weight: lighter;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    clear: both;
    width: 940px;
  }
  .intro__header {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    padding-top: 64px;
    font-weight: lighter;
  }
  .intro__header--photo {
    padding-left: 215px;
    padding-right: 215px;
  }
}
