.logo {
	width: 75px;
	height: 22px;
	font-size: 0;
}

.logo--page-header {
	position: absolute;
	top: 22px;
	left: 0;
}

@media (min-width: @tablet-width) {
	.logo {
		width: 146px;
		height: 40px;
	}
	.logo--page-header {
		top: 45px;
	}
	.logo-htmlacademy {
		position: absolute;
		right: -36px;
		top: -11px;
	}
	.logo-htmlacademy:hover {
		fill: #d22856;
	}
	.logo-htmlacademy {
		fill: currentColor;
	}
}

@media (min-width: @desktop-width) {
	.logo {
		position: static;
		float: left;
		fill: @red;
	}
}