.main-nav {
  min-height: 66px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  &__wrapper {
  	width: 87.5%;
  	height: 66px;
  	margin: 0 auto;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
  }
  &__toggle {
  	width: 50px;
  	height: 24px;
  	font-size: 0;
  	background-color: transparent;
  	background-image: url("../img/icon-menu-burger.svg");
  	border: none;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }
  &__item {
    background-color: @blue;
    position: relative;
  }
  &__link {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: @white;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    height: 110px;
    margin: 0;
  }
  .main-nav__wrapper {
  	width: 620px;
  	padding-top: 44px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  }
  .main-nav__logo-image {
  	width: 147px;
  	height: 40px;
  }
}

@media (min-width: @desktop-width) {
  	.main-nav__wrapper,
  	.main-nav__wrapper-top {
  		width: 940px;
  	}
  	.main-nav__wrapper {
  	max-width: 940px;
  	margin: 0 auto;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;
  }
  .main-nav__list {
  	min-width: 66%;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: center;
  }
  .main-nav__item {
    overflow: hidden;
    background-color: transparent;
    width: 20.8%;
    height: 110px;
    text-align: center;
  }
  .main-nav__link {
  	display: block;
  	font-weight: 400;
  	text-transform: none;
  	padding-top: 35%;
  	padding-bottom: 35%;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item--active .main-nav__link::after, .main-nav__item:hover .main-nav__link::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: .2s
  }
  .main-nav__item--active .main-nav__link::after {
    background-color: @red;
    transition: .1s
  }
}
