.page-header,
.page-header--index {
  background-position: 50% 0;
  background-size: contain;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}
  .page-header {
    background-color: @blue;
    background-repeat: no-repeat;
    color: @white;
  &__wrapper {
    position: relative;
  }
  &__wrapper::after {
  	content: "";
  	display: table;
  	clear: both;
  }
  &__wrapper--index {
    padding-top: 392px;
  }
}
@media (min-width: @tablet-width) {
  .page-header--index {
    min-height: 729px;
  }
  .page-header__wrapper--index {
    padding-top: 0;
  }
}
@media (min-width: @desktop-width) {
  .page-header,
  .page-header--index {
    background-image: url("../img/back-desktop.jpg");
    background-size: 2560px auto;
    background-position: 50% 0;
  }
  .page-header--index {
  	min-height: 853px;
  }
  .page-header__wrapper {
    padding-top: 0;
  }
  .page-header__intro {
  	width: 940px;
  	margin: 0 auto;
  }
}
