.page-footer {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 46px;
    @media (min-width: @tablet-width) {
      width: 620px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  &__logo {
    width: 147px;
    height: 40px;
  }
  &__dev {
    position: relative;
    @media (min-width: @tablet-width) {
      width: 1500px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
  &__copyright-link {
    font-size: 14px;
    line-height: 18px;
    padding-right: 42px;
    color: @blue;
    text-decoration: none;
  }
}
