.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  background-color: transparent;
  &__logo {
    width: 146px;
    height: 40px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    position: static;
    margin-bottom: 35px;
  }
  &__social {
    font-size: 0;
    padding-top: 0;
    margin: 0 auto 35px;
  }
  &__social-btn-tw {
    display: inline-block;
    width: 47px;
    height: 47px;
    vertical-align: middle;
    position: relative;
    margin: 0 5px;
    line-height: 0;
    background-color: @white;
    border: 2px solid @border-footer;
    border-radius: 50%;
  }
  &__link-tw {
    position: absolute;
    top: 16px;
    left: 16px;
    fill: @red;
  }
  &__social-btn-fb {
    display: inline-block;
    width: 47px;
    height: 47px;
    vertical-align: middle;
    position: relative;
    margin: 0 5px;
    line-height: 0;
    background-color: @white;
    border: 2px solid @border-footer;
    border-radius: 50%;
  }
  &__link-fb {
    position: absolute;
    top: 16px;
    left: 16px;
    fill: @red;
  }
  &__social-btn-you {
    display: inline-block;
    width: 47px;
    height: 47px;
    vertical-align: middle;
    position: relative;
    margin: 0 5px;
    line-height: 0;
    background-color: @white;
    border: 2px solid @border-footer;
    border-radius: 50%;
  }
  &__link-you {
    position: absolute;
    top: 16px;
    left: 16px;
    fill: @red;
  }
  &__copyright {
    display: block;
    position: relative;
  }
  &__logo {
    font-size: 14px;
    line-height: 18px;
    padding-right: 43px;
    color: @blue;
    text-decoration: none;
  }
  &__logo-htmlacademy {
    position: absolute;
    right: -10px;
    top: -5px;
    fill: @red;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-footer__title {
    width: 400px;
  }
  .page-footer__call,
  .page-footer__write {
    width: 300px;
    height: 60px;
  }
  .page-footer__visit {
    width: 320px;
    margin-top: 50px;
  }
}

@media (min-width: @desktop-width) {
	.page-footer {
		display: flex;
		flex-direction: row;
		margin-top: 70px;
		margin-bottom: 72px;
		height: 196px;
	}
  .page-footer__title {
    width: 640px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 60px;
  }
  .page-footer__call,
  .page-footer__visit,
  .page-footer__write {
    display: inline-block;
  }
}
