.page-header {
  min-height: 236px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/bg-back-mobile@1x.jpg") ;
  background-color: @blue;
}
.page-header-form {
  &__intro {
    width: 280px;
    margin: 0 auto;
    margin-top: 55px;
  }
  &__intro-title {
    font-size: 14px;
    line-height: 30px;
  }
}
@media (min-width: @tablet-width) {
  .page-header-index {
    min-height: 730px;
    background-image: url("../img/back-tablet-photo.jpg") ;
  }
  .page-header-photo {
    min-height: 438px;
    background-image: url("../img/back-tablet-photo.jpg") ;
  }
  .page-header-form {
    min-height: 696px;
    background-image: url("../img/back-tablet-photo.jpg") ;
  }
  .page-header-form__intro {
    width: 475px;
    margin: 0 auto;
    margin-top: 90px;
  }
  .page-header-form__intro-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: lighter;
    text-align: center;
    color: @white;
  }
}
@media (min-width: @desktop-width) {
  .page-header {
    min-height: 394px;
    background-image: url("../img/back-desktop.jpg");
    background-size: 2560px auto;
    background-position: 50% 0;
  }
  .page-header__intro-title {
    padding-top: 65px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: @white;
    width: 820px;
    margin: 0 auto;
  }
}
