.slider {
  padding-top: 42px;
  padding-bottom: 21px;

  &__items {
    position: relative;
    min-height: 290px;
  }

  &__author {
    font-size: 18px;
    line-height: 30px;
    color: @black;
    font-weight: 700;
  }

  &__info {
    display: none;
  }

  &__paragraph {
    font-size: 14px;
    line-height: 30px;
    color: @blue;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__input,
  &__toggle {
    display: none;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 60px;
    min-height: 12px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__items-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    width: 6px;
    height: 6px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: @btn;
  }

  &__switch {
    display: none;
  }
}

.slider #btn1:checked ~ .slider__slider-item-nikolay,
.slider #btn2:checked ~ .slider__slider-item-petya,
.slider #btn3:checked ~ .slider__slider-item-vasya {
  position: static;
  padding-bottom: 30px;
  visibility: visible;
}
@media (min-width: @tablet-width) {
  .slider {
    width: 620px;
    margin: 0 auto;
    position: relative;
    min-height: 290px;
  }
}
@media (min-width: @desktop-width) {
  .slider {
    width: 940px;
    padding-top: 105px;
    padding-bottom: 8px;
  }

  .slider__items {
    position: relative;
  }

  .slider__slider-item {
    display: flex;
    flex-direction: column;
  }

  .slider__wrapper {
    order: 1;
  }

  .slider__author {
    margin-top: 23px;
  }

  .slider__info {
    display: block;
    margin-top: 0;
    font-size: 18px;
    line-height: 34px;
  }

  .slider__paragraph {
    padding: 0 95px;
  }
}
