.social-links {
    padding-top: 3px;
    font-size: 0;
  &__link {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    font-size: 0;
    line-height: 0;
    width: 47px;
    height: 47px;
    background-color: @white;
    border: 2px solid @white;
    border-radius: 50%;
  }
  &__dev {
    position: relative;
  }
  &__copyright-link {
    font-size: 14px;
    line-height: 18px;
    padding-right: 42px;
    color: @blue;
    text-decoration: none;
  }
  &__logo-htmlacademy {
  	position: absolute;
  	top: -5px;
  	left: 87px;
  }
}

@media (min-width: @tablet-width) {
  .social-links {
  width: auto;
  }
  .social-links__dev {
    padding-top: 12px;
    text-align: left;
    vertical-align: middle;
    position: relative;
  }
 .social-links__htmlacademy {
   position: absolute;
   right: -15px;
   top: 8px;
 }
 .social-icon {
 	position: absolute;
 	top: 21px;
 }
}

@media (min-width: @desktop-width) {
	.social-links {
		width: 30.28%;
	}
	.social-links__link {
		width: 54px;
	}
	.social-links__link:hover {
		border: 2px solid @blue;
	}
}
