.social-links {
  &__link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 6px;
    font-size: 0;
    line-height: 0;
    width: 47px;
    height: 47px;
    background-color: @white;
    border: 2px solid @white;
    border-radius: 50%;
  }
}
