.user-message {
  &__feedback {
    width: 280px;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
    box-sizing: border-box;
    border: none;
  }
  &__question {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    color: @red;
  }
  &__area {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    border: 2px solid @silver;
    border-radius: 2px;
  }
}

@media (min-width: @desktop-width) {
  .user-message {
    width: 820px;
    margin: 0 auto;
    order: 4;
  }
  .user-message__area {
    width: 820px;
  }
}
